# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Build and deps
bin/
dist/
out/
node_modules/
.devbox/
client/ui/node_modules/
client/ui/.vite/

# Logs
*.log

# Env
.env
.env.*

# Go
*.test
coverage.out

# Rust
client/target/
client/src-tauri/target/

# Misc temp
tmp/
*.tmp
client/ui/coverage/

# Terraform
**/.terraform/
**/*.tfstate
**/*.tfstate.backup

# Python cache
__pycache__/
*.pyc
